<div class="[ flow ] [ flow-space-600 ]">
    <h1>Webudvikler med ekspertise i <strong>design</strong> og <strong>frontend</strong></h1>
    <div class="text-550">
        <p>Mit mål er at lave højkvalitets hjemmesider med fokus på brugervendlighed gennem UX & UI design, samt frontend udvikling, hvor jeg lægger stor vægt på Core web vitals og tilgængelighed gennem moderne teknologier. Derudover stiller jeg store krav til den kode jeg laver, så den er så simpel og performant som muligt.</p>
    </div>
</div>