<div class="[ flow ] [ flow-space-600 ]">
    <h1>Webudvikler med ekspertise i <strong>design</strong> og <strong>frontend</strong></h1>
    <div class="text-550">
        <p>Mit mål er at lave højkvalitets hjemmesider med fokus på brugervendlighed gennem <b class="color-white">UX & UI</b> design, samt <b class="color-white">frontend udvikling</b>, hvor jeg lægger stor vægt på tilgængelighed og optimering gennem moderne teknologier.</p>
    </div>
</div>