.btn{
    
    --btn-border-size: 3px;


    @include apply-utility('weight','bold');
    @include apply-utility('leading','flat');
    padding: .6em 1.4em .7em;
    border-radius: 3px;
    font-size: calc(var(--size-100) + 1.6px);
    text-align: center;
    // transition: background .3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: dashed 1px rgba(get-color('white'), .2);
    transition: color, background-color, border-color, .3s ease-in-out;
    

    &[data-type='default'] {
        border: none;
        @include apply-utility('weight','normal');

        &:hover{
            color: hsla(var(--primary));
            opacity: 1;
        }
    }

    &::before{
        content: "";
        position: absolute;
        top: calc(-1 * var(--btn-border-size));
        left: calc(-1 * var(--btn-border-size));
        width: calc(100% + calc(var(--btn-border-size) * 2));
        height: calc(100% + calc(var(--btn-border-size) * 2));
        border-radius: 3px;
        z-index: -1;
        transition: background-color, box-shadow, .3s ease-in-out;
        box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0);
    }

    &[data-type='primary'] {
        background-color: var(--primary);
        color: get-color('black');
        border-color: get-color('dark');
        outline: 2px solid var(--primary);

        // &::before{
        //     background: linear-gradient(to right, get-color('primary'), get-color('secondary'));
        // }

        // &:hover{
        //     background: get-color('primary-glare');
        //     color: get-color('black');
        //     border-color: get-color('dark');

        //     &::before{
        //         background: get-color('primary-glare');
        //     }
        // }
    }

    &[data-type='secondary'] {
        position: relative;
        background: get-color('dark-shade-darker');

        &::before{
            background: get-color('dark-shade-darker');
        }

        &:hover{
            color: get-color('black');
            background-color: var(--primary);
            color: get-color('black');
            border-color: get-color('dark');

            &::before{
                background-color: var(--primary);
                box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.show-more{
    --btn-border-size: 5px;

    button{
        position: relative;
        @include apply-utility('font','heading');
        @include apply-utility('weight','bold');
        @include apply-utility('leading','none');
        font-size: get-size('100');
        top: 0;
        transform: translateY(-60%);
        background-color: get-color('dark-shade-darker');
        width: 70px;
        height: 70px;
        border: dashed 1px rgba(get-color('white'), .2);
        border-radius: 50%;
        color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0px 0px 0px 5px get-color('dark-shade');
    
        svg{
            transition: transform .3s ease-in-out;
            transform: rotate(0deg);
            max-width: 100%;
            height: .5em;
            margin-top: .3em;
        }

        &.is-open{
            svg{
                transform: rotate(180deg);
            }
            
        }
    }


}